<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sad360carlos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sad360carlos.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sad360carlos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sad360carlos</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SAD360" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:oykctbyg1e.database.windows.net,1433;Initial Catalog=sad360carlos_db;User ID=mastersig@oykctbyg1e;Password=!Chcp9883" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SAD360.Infra.Data.Contexto.SAD360Context, SAD360.Infra.Data" MigrationConfiguration="SAD360.Infra.Data.Migrations.Configuration, SAD360.Infra.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SAD360-Web.config Connection String">
      <ParameterValue>Data Source=tcp:oykctbyg1e.database.windows.net,1433;Initial Catalog=sad360carlos_db;User ID=mastersig@oykctbyg1e;Password=!Chcp9883</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>