@{
    ViewBag.Title = "Alterar Avaliação";
}

<h2>Alterar Avaliação</h2>

<div class="alert alert-danger" role="alert">
    <p>O usuário logado no sistema não tem o perfil de administrador. Portanto, não é possível realizar alterações nas avaliações.</p>
</div>

<div>
    @Html.ActionLink("Voltar", "Index", "Home")
</div>
