@{
    ViewBag.Title = "Planejamento de Avaliações";
}

<h2>Planejamento de Avaliações</h2>

<div class="alert alert-danger" role="alert">
    <p>Usuário não possui perfil de administrador. Sendo assim, não pode acessar o planejamento de avaliações.</p>
</div>

<div>
    @Html.ActionLink("Voltar", "Index", "Home")
</div>
