@{
    ViewBag.Title = "Planejamento de Avaliações";
}

<h2>Planejamento de Avaliações</h2>

<div class="alert alert-success" role="alert">
    <p>As avaliações foram geradas com sucesso.</p>
</div>

<div>
    @Html.ActionLink("Voltar", "Index", "Home")
</div>

